body {
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'MS Pゴシック',sans-serif;
    line-height: 1.4;
    color: #333;
    margin: 0;
    padding: 0;
}

.menu {
    display: inline-block;
    margin: 1em;
    padding: 0.2em;
    vertical-align: top;
    background-color: #f0f0f0;
    border: 1px solid #d0d0f0;
}

.app {
    margin: 0;
    padding: 0 2em 0 2em;
    /*background-color: yellow;*/
}

.canvas {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-size: medium;
    font-weight: normal;
}

.itemtype {
    margin: 0;
    padding: 5px;
}
.itemtype li {
    list-style-type: none;
    display: inline-block;
    margin: 0;
    width: 50px;
    height: 30px;
    font-size: x-large;
    vertical-align: middle;
    text-align: center;
    border: 2px solid #aaa;
}
.itemtype li:hover {
    cursor: pointer;
}
.itemtype li.selected {
    background-color: #ff6;
}

.canvas {
    margin: 0;
    padding: 0;
    background:#f0f0f0;
}